In [1]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv('new_dataset.csv')
data = data.apply(lambda x: x.str.replace(r'0 \(Yeni\)', '0', regex=True) if x.dtype == "object" else x)
data = data.apply(lambda x: x.str.replace(r'Ve Üzeri', '', regex=True) if x.dtype == "object" else x)
sütunlar = [
    'Yapı Durumu', 'Krediye Uygunluk', 'Isıtma Tipi', 
    'Site İçerisinde', 'Kullanım Durumu', 'Yatırıma Uygunluk', 
    'Banyo Sayısı', 'WC Sayısı', 'Eşya Durumu', 'Tapu Durumu', 
    'Balkon Sayısı', 'Tipi', 'Unnamed: 0'
]       
data.drop(columns=sütunlar, inplace=True, errors='ignore')

mahalle_sutun_adi = 'Mahalle'
unique_mahalleler = data[mahalle_sutun_adi].unique()
mahalle_dict = {mahalle: idx for idx, mahalle in enumerate(unique_mahalleler)}
data['Mahalle'] = data[mahalle_sutun_adi].map(mahalle_dict)

ilce_sutun_adi = 'Ilce'
unique_ilceler = data[ilce_sutun_adi].unique()
ilce_dict = {ilce: idx for idx, ilce in enumerate(unique_ilceler)}
data['Ilce'] = data[ilce_sutun_adi].map(ilce_dict)

sehir_sutun_adi = 'Sehir'
unique_sehirler = data[sehir_sutun_adi].unique()
sehir_dict = {sehir: idx for idx, sehir in enumerate(unique_sehirler)}
data['Sehir'] = data[sehir_sutun_adi].map(sehir_dict)

data

,Fiyat,Oda Sayısı,Bulunduğu Kat,Brüt Metrekare,Binanın Yaşı,Binanın Kat Sayısı,Sehir,Ilce,Mahalle
0,1240000,3,5,87,21,5,0,0,0
1,4800000,3,1,120,11-15,1,0,0,1
2,2250000,4,4,160,16-20,7,0,0,2
3,3000000,4,1,343,5-10,2,0,0,1
4,2500000,3,1,269,5-10,1,0,0,3
...,...,...,...,...,...,...,...,...,...
119878,1250000,3,4,105,5-10,4,31,405,1574
119879,3300000,4,3,130,0,3,31,405,3282
119880,1300000,5,2,140,21,3,31,405,3282
119881,1250000,3,2,90,5-10,3,31,405,160
119882,650000,3,2,100,11-15,2,31,406,3283

In [14]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

scaler = StandardScaler()
data[['Brüt Metrekare', 'Oda Sayısı']] = scaler.fit_transform(data[['Brüt Metrekare', 'Oda Sayısı']])
data['Kat Oranı'] = data['Bulunduğu Kat'] / data['Binanın Kat Sayısı']
data = data.drop('Bulunduğu Kat', axis=1)
data = data.drop('Binanın Kat Sayısı', axis=1)
def convert_age(age):
    if '-' in str(age):
        age_range = age.split('-')
        return (int(age_range[0]) + int(age_range[1])) / 2
    else:
        return float(age)

data['Binanın Yaşı'] = data['Binanın Yaşı'].apply(convert_age)

data

,Fiyat,Oda Sayısı,Brüt Metrekare,Binanın Yaşı,Sehir,Ilce,Mahalle,Kat Oranı
0,1240000,-0.619940,-0.827398,21.0,0,0,0,1.000000
1,4800000,-0.619940,-0.207387,13.0,0,0,1,1.000000
2,2250000,0.412185,0.544141,18.0,0,0,2,0.571429
3,3000000,0.412185,3.982384,7.5,0,0,1,0.500000
4,2500000,-0.619940,2.592056,7.5,0,0,3,1.000000
...,...,...,...,...,...,...,...,...
119878,1250000,-0.619940,-0.489210,7.5,31,405,1574,1.000000
119879,3300000,0.412185,-0.019505,0.0,31,405,3282,1.000000
119880,1300000,1.444310,0.168377,21.0,31,405,3282,0.666667
119881,1250000,-0.619940,-0.771033,7.5,31,405,160,0.666667
119882,650000,-0.619940,-0.583151,13.0,31,406,3283,1.000000

In [15]:
columns_to_scale = ['Fiyat', 'Oda Sayısı', 'Brüt Metrekare', 'Binanın Yaşı', 'Sehir', 'Ilce', 'Mahalle', 'Kat Oranı']
scaler = StandardScaler()
data[columns_to_scale] = scaler.fit_transform(data[columns_to_scale])
data

,Fiyat,Oda Sayısı,Brüt Metrekare,Binanın Yaşı,Sehir,Ilce,Mahalle,Kat Oranı
0,-0.843267,-0.619940,-0.827398,1.628992,-1.095272,-1.309045,-1.050940,1.361211
1,0.832452,-0.619940,-0.207387,0.605545,-1.095272,-1.309045,-1.049850,1.361211
2,-0.367852,0.412185,0.544141,1.245200,-1.095272,-1.309045,-1.048761,0.080349
3,-0.014821,0.412185,3.982384,-0.098075,-1.095272,-1.309045,-1.049850,-0.133128
4,-0.250175,-0.619940,2.592056,-0.098075,-1.095272,-1.309045,-1.047671,1.361211
...,...,...,...,...,...,...,...,...
119878,-0.838560,-0.619940,-0.489210,-0.098075,2.586298,2.281387,0.664409,1.361211
119879,0.126391,0.412185,-0.019505,-1.057556,2.586298,2.281387,2.525791,1.361211
119880,-0.815024,1.444310,0.168377,1.628992,2.586298,2.281387,2.525791,0.364985
119881,-0.838560,-0.619940,-0.771033,-0.098075,2.586298,2.281387,-0.876572,0.364985
119882,-1.120984,-0.619940,-0.583151,0.605545,2.586298,2.290252,2.526881,1.361211

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
#Lineer Regresion

In [18]:
from sklearn.linear_model import LinearRegression

# Özellikler ve hedef değişken
X = data[['Oda Sayısı', 'Brüt Metrekare', 'Binanın Yaşı', 'Sehir', 'Ilce', 'Mahalle', 'Kat Oranı']]
y = data['Fiyat']

# Veriyi eğitim ve test setlerine ayırın
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Linear Regression modelini oluşturun
lin_model = LinearRegression()

# Modeli eğitin
lin_model.fit(X_train, y_train)

# Test setinde tahmin yap
y_pred = lin_model.predict(X_test)

# Performans metriklerini hesapla
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Linear Regression - Mean Squared Error: {mse}')
print(f'Linear Regression - R^2 Score: {r2}')

Linear Regression - Mean Squared Error: 0.8110626268208648
Linear Regression - R^2 Score: 0.1988990199884284

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

# Özellikler ve hedef değişken
X = data[['Oda Sayısı', 'Brüt Metrekare', 'Binanın Yaşı', 'Sehir', 'Ilce', 'Mahalle', 'Kat Oranı']]
y = data['Fiyat']

# Veriyi eğitim ve test setlerine ayırın
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# KNN modelini oluşturun
model = KNeighborsRegressor(n_neighbors=11)

# Modeli eğitin
model.fit(X_train, y_train)

# Test setinde tahmin yap
y_pred = model.predict(X_test)

# Performans metriklerini hesapla
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

# Hata payı ile doğruluk hesaplama fonksiyonu
def calculate_accuracy(y_true, y_pred, tolerance):
    correct_predictions = 0
    for true_value, predicted_value in zip(y_true, y_pred):
        if true_value - tolerance <= predicted_value <= true_value + tolerance:
            correct_predictions += 1
    return correct_predictions / len(y_true)

Mean Squared Error: 0.6230969877448386
R^2 Score: 0.38455602438343395